:root {
  --white: #f1eff8;
  --black: #292a44;
  --lightBlack: #53495d;
  --brightBlack: #666699;
  --grey: #a0a0c5;
  --purple: #ae81ff;
  --green: #2de0a7;
  --lightGreen: #6dfedf;
  --blue: #7aa5ff;
  --lightBlue: #8eaee0;
}
