# main
layout.html
index.html
header.html

# user
login.html
register.html

# feed
feeds.html
feed.html
create.html
edit.html

# userPage
userPage.html
editUserInfo.html
follower.html
following.html
userFeeds.html
followingFeeds.html

# comment
comment.html

# exercise
session.html
recordSession.html