{% extends "main/layout.html" %} 
{% block main %}
  {% if user.is_authenticated%}
    <form 
      action="{% url 'group:create' %}" 
      method="POST" 
      style="display: flex; flex-direction: column"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
        <select name="create_target">
          <option value="" selected="selected">목표선택</option>
          <option value="다이어트">다이어트</option>
          <option value="체력증가">체력증가</option>
          <option value="근력증가">근력증가</option>
          <option value="유지어터">유지어터</option>
        </select>
        <input type="text" name="create_title" placeholder="title" />
        <textarea name="create_content" placeholder="content"></textarea>
        <input type="number" name="create_memberCount" id="create_memberCount" placeholder="참가자수" />
        <p>시작일</p>
        <input type="date" name="create_startDay" id="create_startDay" />
        <p>종료일</p>
        <input type="date" name="create_finishDay" id="create_finishDay" />
        <div class="profile_pic_box">
          <span>그룹 사진</span>
          <div class="group_create_input_wrap boxtop_wrap">
            <input type="file" name="create_groupPic" />
          </div>  
        </div>
        <input type="submit" value="create group" />
    </form> 
  {% endif %}
{% endblock %}
