{% extends 'main/layout.html' %} 
{% load static %} 

{% block main %}
<div class="session_box recommend_session_box">
  추천 세션:
  <ul>
    {% for recommendSession in recommendSessions%}
    <li><button>{{ recommendSession.category }}</button></li>
    {% endfor %}
  </ul>
</div>

<div class="session_box">
  부위별 운동:
  <ul>
    {% for bodyPart in bodyParts %}
    <li>
      <button 
        class="body_part_btn"
        data-body-part="{{ bodyPart.pk }}"
      >
        {{ bodyPart.name }}
      </button>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="session_result_box"></div>
{% endblock %}

{% block script %}
<script src="{% static 'exercise/javascript/bodyPartSession.js' %}"></script>
{% endblock %}