{% extends "main/layout.html" %} 
{% block main %}
  {% if user.is_authenticated %}
    <div>title: {{ feed.title }}</div>
    <a href="{% url 'userPage:userPage' feed.author.id %}">
      author: {{ feed.author}}
    </a>
    <div>created time: {{ feed.createdTime }}</div>
    <div>content: {{ feed.content }}</div>
    <a href="{% url 'feed:all_feeds' %}">see all feeds</a>
    {% if user.id == feed.author.id %}
      <a href="{% url 'feed:edit' feed.id %}">edit this feed</a>
      <form
        action="{% url 'feed:delete' feed.id %}"
        method="POST"
        style="display: flex; flex-direction: column"
      >
        {% csrf_token%}
        <input type="submit" value="delete this page" />
      </form>
    {% endif %}
  {% endif %}
  {% if user.is_authenticated %}
  <br><br><hr>
  <div class="feed_comment_wrapper">
    <h5>New Comment</h5>
    
    <form method="POST" action="{% url 'comment:comment' feed.id %}" class="comment_content_wrapper">
      {% csrf_token %}
      <textarea name="comment_content" class="comment_textarea" required="required"></textarea>
      <div class="comment_submit_btn">
        <input type="submit" class="comment_submit_btn" value="Submit" />
      </div>
    </form>
  <div>
  {% endif %}

  <br><hr>
  {% for comment in comments %}
  <div class="comment">
    {% if comment.author.id == request.user.id %}
    
    {% endif %}
    <strong>작성자: {{ comment.author }}</strong>
    <p>댓글 내용: {{ comment.content }}</p>
    <div class="c_time">작성 시간: {{ comment.createdTime }}</div>
    <div class="u_time">수정 시간: {{ comment.updatedTime }}</div>
  </div>
  {% empty %}
  <p>No comments here yet 😥</p>
  {% endfor %}
{% endblock %}
