{% extends "main/layout.html" %} 
{% block main %}
  {% if user.is_authenticated %}
  <ul>
    {% for feed in feeds %}
      <li>
        <a href="{% url 'feed:show' feed.id %}">
          <div>피드 제목: {{ feed.title }}</div>
          <div>작성자: {{ feed.author.nickname }}</div>
          <div>작성 일자: {{ feed.createdTime }}</div>
          {% if feed.comment_feed.count > 0 %}
          <div>댓글 수: {{ feed.comment_feed.count }}</div>
          {% endif %}
          {% if feed.like.count > 0 %}
          <div>💖 {{ feed.like.count }}</div>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'feed:create' %}">create your feed!</a>
  <a href="{% url 'main:index' %}">return to main page</a>
  {% endif %}
{% endblock %}
