{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet" />
    {% endblock %}
    <script src="https://kit.fontawesome.com/6d66577a7c.js" crossorigin="anonymous"></script>
    <title>{% block title %} first project {% endblock %}</title>
  </head>
  <body>
    <header class="header">
      <a href="{% url 'main:index' %}" class="logo"><img src="{% static 'main/src/image/logo_wrap.png'%}" /></a>
      <input class="menu_btn" type="checkbox" id="menu_btn" />
      <label class="menu_icon" for="menu_btn"><span class="nav_icon"></span></label>
      <ul class="menu">
        <li><a href="#1">menu1</a></li>
        <li><a href="#2">menu2</a></li>
        <li><a href="#3">menu3</a></li>
        <li><a href="#4">menu4</a></li>
      </ul>
    </header>

    <main>
      {% block main %}
      {% endblock %}
    </main>

    <footer>
      <div class="copyright_wrap">
        <span>
          <img src="{% static 'main/src/image/all_types.png'%}" /> Copyright © AllTypes. All
          Rights Reserved.</span
        >
      </div>
    </footer>
    {% block script %}
    {% endblock %}
  </body>
</html>