/* variables */
@import './variables.css';

/* pages */
@import './pages/login.css';
@import './pages/register.css';
@import './pages/follow.css';
@import './pages/userEdit.css';
@import './pages/userPage.css';
@import './pages/feed.css';
@import './pages/session.css';
@import './pages/exercise.css';
@import './pages/recordSession.css';

/* components */
@import './components/header.css';
@import './components/footer.css';

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@500;700&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

li {
  list-style: none;
}
